.notExpanded {
  max-height: 360px;
  overflow-y: hidden;
}
.blurred {
  background: transparent
    linear-gradient(180deg, #ffffff00 0%, #ffffff9b 51%, #ffffff 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 5px 15px #e9e8ef80;
  opacity: 1;
}
